:root {
  --md-text-font: "Times New Roman", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", serif;
  --md-code-font: "Roboto Mono", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", monospace;
}

.md-source__facts {
  display: none !important;
}

.md-typeset pre > code,
pre code,
pre {
  white-space: pre-wrap !important;       /* CSS 3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since FF 1.0 */
  white-space: -pre-wrap !important;      /* Opera 7 */
  white-space: -o-pre-wrap !important;    /* Opera 7 */
  word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}

/* 去除主页目录树列表前默认的黑点项目符号 */
.md-typeset .kb-static-tree li::before {
  content: none !important;
  display: none !important;
}

.md-typeset .kb-static-tree li::marker {
  content: "" !important;
}

.md-typeset .kb-static-tree ul {
  list-style-type: none !important;
  padding-left: 0 !important; /* 取消左侧多余的缩进，让蓝框和标题左对齐 */
}

.md-typeset .kb-static-tree a {
  font-weight: bold; /* 如果你觉得太粗，可以把 bold 换成 600 */
}
